invalid8r : 
  - sitekey : acme
    host : www.acme.com
    services : 
      - name : varnish
        instances :
          - url : url-of-varnish-server-1.com
            port : 80
          - url : url-of-varnish-server-x.com
            port : 80