<h4>Example config.yml</h4>
<pre>
    &lt;sitekey&gt; :
      varnish :
        - url : &lt;Varnish URL&gt;
          port : &lt;Varnish port&gt;
        - url : &lt;Varnish URL&gt;
          port : &lt;Vanrish port&gt;
</pre>