<form action="/invalid8" method="post">
      <div>
          <h3>Site</h3>
          <select name="sitekey">
              <% @options.each do |key| %>
                <option value="<%= key %>"><%= key %></option>
              <% end %>
          </select>
      </div>
      <div>
          <h3>Path</h3>
          <input name="path" type="text" class="input-xxlarge" placeholder="/path/to/invalidate">
      </div>
      <div>
          <button type="submit" class="btn">Invalidate</button>
      </div>
  </form>
  
  <hr />

 <div>
      <h3>About</h3>
      Invalid8r currently only works with Varnish. Additional support for nginx is forthcoming.
  </div>
  
  <hr />

  <div>
      <h3>License</h3>
      Invalid8r is open-sourced software licensed under the MIT License.
  </div>
  
  